<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>${data.nome}</h1>    
    <table>
        <th>
            <td>Id</td>
            <td>Nome</td>
        </th>
        <tr for (aluno in data.alunos)>
            <td>${aluno.id}</td>
            <td>${aluno.nome}</td>
        </tr>
    </table>
    <primeiro nome="${data.nome}"/>
</body>

</html>